.sidenav {
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 888;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: rgb(18, 16, 29);/* linear-gradient(180deg, rgb(17,24,39) 0%, rgb(13, 19, 31) 100%);  #1a191c; */
    padding-top: 60px;

    transition: all 0.3s ease; 
}
.sidenav a {
    text-decoration: none;
    display: block;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 333;
    font-size: 15px;
    color: white;
}
.sidenav a:first-child { /* Navigation text title */
    font-family: "Noto Sans JP", sans-serif;
    margin: 0px 30px 8px 32px;
    font-size: 23px;
    position: absolute;
    font-weight: 320;
    top: 12px;
    margin-left: 24px;
}
.sidenav a:last-child { /* The close button */
    position: absolute;
    top: 0;
    right: 25px;
    padding: 24px 0px;
    font-size: 12px;
    margin-left: 50px;
    color: white;
}
.sidenav div:nth-child(2) { /* The divider line */
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 1px;
    margin-bottom: 15px;
    z-index: -2;
}
.sidenav a:not(a:first-child, a:last-child) {
    padding: 12px 12px;
    border-radius: 7px;
    margin: 3px 9px 3px 12px;
    transition: all 0.3s ease; 
}
.sidenav a:not(a:first-child, a:last-child):hover {
    background-color: rgba(55,65,81,0.5);
    transition: all 0.1s ease; 
}

.sidenav a:not(a:first-child, a:last-child) span {
    margin-left: 12px;
}
.sidenav a:not(a:first-child, a:last-child) i:nth-child(3) { /* The arrow */
    position: absolute;
    right: 21px;
    rotate: -90deg;
}

.sidenav a:not(a:first-child, a:last-child, a:nth-child(2)) div:last-child span { /* items list */
    display: none;
    font-size: 14px;
    font-weight: 200;
    margin: 9px 0px 0px 35px;
    opacity: 0;
}
.sidenav a:not(a:first-child, a:last-child, a:nth-child(2)) div:last-child span:first-child {
    margin-top: -3px;
}
.sidenav a:not(a:first-child, a:last-child, a:nth-child(2)) div:last-child span:hover {
    translate: 3px 0px;
    cursor: pointer;
    text-shadow: 
    0 0 10px #7b9aff, 0 0 20px #ffffff86, 
    0 0 30px #0059ff;
}
.sidenav a:not(a:first-child, a:last-child) div:nth-last-child(2) { /* Highlight box */
    display: none;
    width: 100%;
    height: 15px;
    padding: 12px 12px;
    border-radius: 7px;
    margin-top: -100px;
    transition: all 0.3s ease;
    position: relative;
    top: -6px;
    left: -12px;
}
.sidenav a:not(a:first-child, a:last-child).ToggleTestAn div span {
    background-color: white;
}
.sidenav a:not(a:first-child, a:last-child).expandCollapse1 div span {
    display: block;
}
.sidenav a:not(a:first-child, a:last-child).expandCollapse2 div:nth-last-child(2) {
    display: inline-block;
}
.sidenav a:not(a:first-child, a:last-child).expandCollapse3 {
    opacity: 1;
    transition: all 0.3s ease;
}